* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background: #f1f1f1;
  margin: 0px;
}
nav {
  background-color: #333;
  overflow: hidden;
  font-size: 20px;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: darkgray;
}
marquee {
  background-color: coral;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
footer {
  padding: 10px;
  color: white;
  background: #333;
  margin-top: 10px;
}
